.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/export_code.md
/android/app/src/androidTest/java/com/getcapacitor/myapp/ExampleInstrumentedTest.java
/android/app/src/main/java/ch/divcom/pokedex_vuetify/MainActivity.java
/android/app/src/main/res/drawable/ic_launcher_background.xml
/android/app/src/main/res/drawable/splash.png
/android/app/src/main/res/drawable-land-hdpi/splash.png
/android/app/src/main/res/drawable-land-mdpi/splash.png
/android/app/src/main/res/drawable-land-xhdpi/splash.png
/android/app/src/main/res/drawable-land-xxhdpi/splash.png
/android/app/src/main/res/drawable-land-xxxhdpi/splash.png
/android/app/src/main/res/drawable-port-hdpi/splash.png
/android/app/src/main/res/drawable-port-mdpi/splash.png
/android/app/src/main/res/drawable-port-xhdpi/splash.png
/android/app/src/main/res/drawable-port-xxhdpi/splash.png
/android/app/src/main/res/drawable-port-xxxhdpi/splash.png
/android/app/src/main/res/drawable-v24/ic_launcher_foreground.xml
/android/app/src/main/res/layout/activity_main.xml
/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher_round.xml
/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
/android/app/src/main/res/mipmap-hdpi/ic_launcher_foreground.png
/android/app/src/main/res/mipmap-hdpi/ic_launcher_round.png
/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
/android/app/src/main/res/mipmap-mdpi/ic_launcher_foreground.png
/android/app/src/main/res/mipmap-mdpi/ic_launcher_round.png
/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
/android/app/src/main/res/mipmap-xhdpi/ic_launcher_foreground.png
/android/app/src/main/res/mipmap-xhdpi/ic_launcher_round.png
/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_foreground.png
/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_round.png
/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_foreground.png
/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_round.png
/android/app/src/main/res/values/ic_launcher_background.xml
/android/app/src/main/res/values/strings.xml
/android/app/src/main/res/values/styles.xml
/android/app/src/main/res/xml/file_paths.xml
/android/app/src/main/AndroidManifest.xml
/android/app/src/test/java/com/getcapacitor/myapp/ExampleUnitTest.java
/android/app/.gitignore
/android/app/build.gradle
/android/app/capacitor.build.gradle
/android/app/proguard-rules.pro
/android/gradle/wrapper/gradle-wrapper.jar
/android/gradle/wrapper/gradle-wrapper.properties
/android/.gitignore
/android/build.gradle
/android/capacitor.settings.gradle
/android/gradle.properties
/android/gradlew
/android/gradlew.bat
/android/settings.gradle
/android/variables.gradle
/ios/App/App/Assets.xcassets/AppIcon.appiconset/AppIcon-512@2x.png
/ios/App/App/Assets.xcassets/AppIcon.appiconset/Contents.json
/ios/App/App/Assets.xcassets/Splash.imageset/Contents.json
/ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732.png
/ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732-1.png
/ios/App/App/Assets.xcassets/Splash.imageset/splash-2732x2732-2.png
/ios/App/App/Assets.xcassets/Contents.json
/ios/App/App/Base.lproj/LaunchScreen.storyboard
/ios/App/App/Base.lproj/Main.storyboard
/ios/App/App/AppDelegate.swift
/ios/App/App/Info.plist
/ios/App/App.xcodeproj/project.pbxproj
/ios/App/App.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/ios/App/App.xcworkspace/contents.xcworkspacedata
/ios/App/Podfile
/ios/App/Podfile.lock
/ios/.gitignore
